@import './config.scss';
.home{
    height:100%;
    width:100%;
    .home-back{
        height:50px;
        // background-color:#f40;
    }
    .home-ad{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height:200px;
        // min-height: 130px;
        background:linear-gradient(to top, rgba(255,0,0,0),$them-color);
        .home-ad-introduce{
            width:100%;
            height:180px;
            padding-top:50px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color:$card-backColor;
            box-sizing: border-box;
            .name{
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                box-sizing: border-box;
            }
            .rate{
                box-sizing: border-box;
                text-align: center;
                padding-top:5px;
                color:$them-fontColor1;
            }
            .coupon{
                margin-left:20px;
                margin-right:20px;
                padding-top:5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                .tag{
                    background-color: $tagColor;
                    color:#fff;
                    font-size:10px;
                    display:inline-block;
                    padding:2px;
                    margin-right:8px;
                }
            }
            .notify{
                margin-left:20px;
                margin-right:20px;     
                margin-top:5px;
                .van-notice-bar{
                    padding:0px;
                }
            }
        }
    }
    .home-link-nav{
        height: 40px;
        // height: calc(100% - 180px);
        // background-color: green;
        border-top:1px solid $border-color;
        border-bottom:1px solid $border-color;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
        .custom-col{
            height:39px;
        }
        .custom-col-active{
            border-bottom: 1px solid $them-color;
            span{
                color:$them-color;
                font-weight: bold;
            }
        }
        .link-to{
            display: inline-block;
            width:100%;
            height:100%;
            text-decoration:none;
            span{
                display: inline-block;
                width:100%;
                height:100%;
                font-size:16px;
            }
        }
    }
    .home-goods-wrapper{
        height:calc(100% - 219px);
        // background: #f40;
    }
}
